
body{
    height: 100vh;
    width: 100vw;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image:url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAzL3JtNjIzLWctYmFja2dyb3VuZC0wM2ItMDEuanBn.jpg");
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   overflow: scroll;
   background-size: cover;
}
#container{
    width: 40vw;
    height: fit-content;
    border-radius: 10px;
    text-align: center;
    margin-top: 5vh;
}
.quote{
    height: 30vh;
    width: 30vw;
    background-image:url("https://img.freepik.com/free-photo/beautiful-blooming-roses-vase_23-2150718913.jpg") ;
border-radius: 2rem;
margin-right:2% ;

}
h1{
    color: rgb(13, 66, 5);
    font-size: 30px;
    opacity: .6;
    
}
h2{
    color: rgb(19, 20, 17);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*---------------- clock div------------ */
#clock{
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time{
    height: 1.5em;
    width: 13%;
    font-size: 30px;
    background-image: linear-gradient(pink,wheat);
    color: rgb(78, 7, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.dots{
    font-size: 2em;
    font-weight: 700;
    margin: 0px 8px;
}

/* ----------------- alarm setting div--------------------- */

#setting-div{
    width: 100%;
    border-bottom: 2px solid rgb(23, 23, 16);
    display: flex;
    flex-direction: column;
}
#setting-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#snooze-container{
    display: flex;
    align-items: center;
}
#snooze button{
    height: 40px;
   border-radius: 3rem;
   background-color: rgb(153, 62, 29);; 
   border:rgb(37, 60, 8) ;
  
    
}
#setalarm-btn{
    width: 50%;
  
    background-color: rgb(225, 225, 205);
    color: black;
    font-size: 15px;
    border-radius: 5px;
    margin: 20px;
    padding: 5px; 
    cursor: pointer;   
}
#setalarm-btn:hover{
    background-color: rgb(74, 13, 13);
    color: rgb(211, 211, 200);
}
select{
    width: 50px;
    height: 25px;
    text-align: center;
    border: 2px solid rgb(127, 127, 65);
    border-radius: 5px;
    margin: 10px;
    margin-top: 10px;
}

/* -----------------Alarm container -------------*/

#alarm-container{
    width: 85%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
    background-image: linear-gradient(#FFCF71,
    #2376DD);
}